
<div class="card">
    <div class="card-header">
        <h3>Request for Computation</h3>
    </div>
    <div class="card-block">
        <div class="column">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container" style="padding-top: 25px;">
                        <div class="card-title">
                            <h5>Consumer Profile</h5>
                        </div>
                        <form [formGroup]="consumerForm">
                            <div class="col-lg-12">
                                <label>Name</label>
                                <input class="form-control" type="text" formControlName="ConsumerName">
                            </div>
                            <div class="col-lg-12">
                                <label>Basic Salary</label>
                                <input class="form-control" type="number" formControlName="BasicSalary">
                            </div>
                            <div class="col-lg-12">
                                <label>Birth Date</label>
                                <input class="form-control" type="date" formControlName="Birthdate">
                            </div>
                            <div class="col-lg-12" style="text-align: end;">
                                <button class="btn btn-primary" [disabled]="consumerForm.invalid" type="button" (click)="onSubmit(consumerForm)">Compute</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <app-retirement-setup></app-retirement-setup>
                </div>
            </div>
            <div class="col-lg-12" style="overflow: auto; height: 500px;">
                <!-- <app-request-history></app-request-history> -->
                <div *ngFor="let ids of consumerRequestDates">
                        <table class="row-border hover" style="width: 100%;">
                            <thead>
                                <th>Multiple</th>
                                <th>Benefit Amount Quoatation</th>
                                <th>Pended Amount</th>
                                <th>Benefit</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of getRecordByTransaction(ids)">
                                        <td>{{data.multiple}}</td>
                                        <td>{{data.benefitsAmountQuotation}}</td>
                                        <td>{{data.pendedAmount}}</td>
                                        <td>{{data.benefits}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>